.top_container{
   background-color: black;
}

.reestar{
   padding-top: 15px;
   color:white;
   text-align:center;
}

.home_recipe_contact{
   color:grey;
   text-align:center;
   padding-bottom: 15px;
   margin-top: 15px;
}
   
.second_container{
   display: inline-block;
   background-color:whitesmoke;
   vertical-align: top;
   border-radius: 20px;
   width:250px;
   margin:15px;
   overflow:hidden;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
   padding-right:20px;
   padding-top:20px;
}
.first_image,.first_image2,.first_image3,.first_image4{
   height:35vh;
   width:100%;
   margin:10px;
   object-fit: cover;
}
.container{
   text-align: center;
}
.order_btn {
   background-color: black;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 30px;
   font-size: 14px;
   font-weight: bold;
   cursor: pointer;
   transition: 0.3s ease;
   margin-bottom: 15px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.order_btn:hover {
   background-color: #ffffff;
   color: black;
   border: 1px solid black;
   transform: scale(1.05);
}
.second_container_para{
   padding:5px;
}

.contact_style{
   color:whitesmoke;
}
.contact_info{
   margin:10px;
   background-color:black;
   color:whitesmoke;
   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
   padding-top:5px;
   padding-bottom:15px;
}
.button{
   padding: 10px 20px;
   border-radius: 15px;
   font-weight: bold;
   margin-top: 10px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
   transform: scale(1.05);
   border: 1px solid black;
}